<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <title>Final Project: Yuxin, Caiwei</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link href="./static/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
</head>

<script src='./static/js/graphs.js' type='text/javascript'></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
	.axis path,
	.axis line{
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}

	.MyRect {
		fill: steelblue;
	}

	.MyText {
		fill: white;
		text-anchor: middle;
	}
</style>

<body>
  <div id="banner">
    <p><a href="#"><img src="./static/images/home.gif" alt="homepage"></a> | <a href="mailto:denise@mitchinson.net"><img src="./static/images/mail.gif" alt="contact"></a></p>
    <h1>Visualize the SPDY/QUIC</h1>
    <h1>Packets from Wireshark</h1>
  </div>
  <div id="menu">
    <ul id="nav">
      <li id="home"><a href="/">Home</a></li>
      <li id="stat" class="activelink"><a href="/">Packets Analysis</a></li>
      <li id="work"><a href="/connht">Connection Analysis</a></li>
    </ul>
  </div>
  <div id="container_map">
    <div id="content_right_map">
      <dl class="curved">
        <dt id="barnote">CHART</dt>
        <dd> <br />
          <div id="chart" class="mycharts"></div>
          <p class="last">&nbsp;</p>
        </dd>
      </dl>

    </div>
    <div id="content_map">
      <dl class="curved">
        <dt>PARAMETERS</dt>
        <dd> <br />
          <ul id="navlist">
            <li><button id="ws1" href="#">Page Load Time</button></li>
            <li><button id="ws2" href="#">ThroughPut</button></li>
            <li><button id="ws3" href="#">Packets Number</button></li>
            <li><button id="ws4" href="#">Packets Proportion</button></li>
          </ul>
          <p class="last">&nbsp;</p>
        </dd>
      </dl>
      <dl class="curved">
        <dt>Discreption</dt>
        <dd>
          <div id="box">
            <h2><img src="./static/images/last.gif" alt="ad"> Packet Analysis</h2>
            <blockquote> We analyzed and visualized several different parameters to illustrate the differences of HTTP and SPDY when requestin 4 kinds of resources.</blockquote>
              <p> Note:For bar charts, X axis represents different kinds of pages, Y axis represents the corresponding parameter. Blue bar represent SPDY,grey bar represent HTTP.<br/>
              For pie charts, you can choose different kinds of pages and protocols using the buttons. Grey arc represents control packets, orange arc represents data packets.
              </p>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div id="footer">
    <p><a href="/">homepage</a> | <a href="caiwei.li@stonybrook.edu">Caiwei Li</a> | <a href="yuxin.man@stonybrook.edu">Yuxin Man</a> | &copy; 2016 Visualization | Design by Yuxin Man and Caiwei Li</p>
  </div>
<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/crossfilter.js"></script>
<script src="./static/lib/js/d3.js"></script>
<script src="./static/lib/js/dc.js"></script>
<script src="./static/lib/js/queue.js"></script>
<script src="./static/lib/js/keen.min.js"></script>
<script src='./static/js/graphs.js' type='text/javascript'></script>
</body>

</html>
